<section class="card">
    <div class="card-body container text-center">
        <h1 class="h2">About me</h1>
        <p class="lead text-muted">Hola, me llamo Gerardo Chavez. Realicé este tutorial como producto de querer aprender diversas tecnologías como Express, Node.js, MongoDB, Bootstrap y seguir aprendiendo JavaScript.</p>
        <a href="https://ijchavez.github.io/react-portfolio-website/" class="btn btn-primary">Portfolio</a>
        <a href="https://ijchavez.github.io/html-css/index.html" class="btn btn-primary btn-lg custom-button" target="_blank">Mi Sitio hasta 2021</a>
        
    </div>
</section>
