<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Hola, me llamo Gerardo Chavez, realice este tutorial como producto de querer aprender diversas tecnologias como express
            NodeJs, MongoDB, Bootstrap y seguir aprendiendo JavaScript.</p>
    </div>
</section>