<div class="jumbotron mt-4">
    <h1 class='display-4'>Notes APP Nodejs and MongoDB</h1>
    <p class='lead'>
        Esta es una aplicación creada desde un video de youtube utilizando Nodejs, MongoDB y estilizado con Bootstrap entre otras cosas.</p>
    <hr class="my-4">
    <h2 class='display-5'>Dependencias adicionales:</h2>
    <ul>
        <li>bcryptjs</li>
        <li>connect-flash</li>
        <li>express</li>
        <li>express-handlebars</li>
        <li>mongoose</li>
        <li>passport</li>
    </ul>
    <a href="https://ijchavez.github.io/html-css/index.html" class='btn btn-primary btn-lg'><i class="fas fa-file-code"></i>Sitio</a>
</div>