body {
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2b32b2,
    #1488cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2b32b2,
    #1488cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.links {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.links:hover {
  color: #007bff;
  text-decoration: none;
}
nav {
  margin-bottom: 5px;
}
.logo {
  width: 50%;
  background-size: cover;
  padding: 10px;
}
.down {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row-reverse;
}
.flush-item {
  background-color: #e9ecef;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Espacio entre la imagen y el contenido */
  text-align: left;
}
.profile-img {
  border-radius: 100px;
}
.text-content {
  max-width: 600px; /*
Ajusta el ancho máximo del texto */
}
.btn {
  display: block;
  margin-top: 10px;
}
